mat-toolbar {
	.spacer {
		flex: 1;
	}
	button.btnMain {
		background-color: #607d8b;
	}
	.status-label {
		font-size: 1rem;
		margin-right: 1rem;
	}
}
.sidenav-container {
	height: calc(100% - 64px);
	max-height: calc(100% - 64px);
}
mat-sidenav-content {
	padding: 1rem;
	.menu-selection {
		.row {
			display: flex;
			> * {
				padding: 0 1rem;
				flex: 1;
			}
		}
		section {
			ul {
				list-style-type: none; /* Remove bullets */
				padding: 0; /* Remove padding */
				margin: 0; /* Remove m*/
			}
		}
	}
	.status {
		.service-report {
			.service-on {
				// max-height: calc(50vh - 64px);
				// overflow-y: auto;
				.result-table {
					width: 100%;
				}
			}
		}
		.service-no-report{
			margin: auto;
			width: fit-content;
			padding: 8rem;
		}
	}
}
